# macOS junk files
**/.DS_Store

# IDE / editor configs
.vscode

# Logs
*.log

# Build outputs
build
lib/**
**/*.o
**/vrg
**/vrg_northbound
**/.libs
unit_test/unit-tester
**/vrg_cli
**/libvrg_northbound.a
**/*.pb.*

# Generated source
src/version.h
