name: vRG ci
on:
  push: 
    branches: 
      - master
      - ci-dev
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: sudo ${{ github.workspace }}/essensials.sh
    - run: sudo ${{ github.workspace }}/boot.sh
    - run: sudo docker build --no-cache -t vrg:latest .
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: sudo ${{ github.workspace }}/essensials.sh
    - run: sudo ${{ github.workspace }}/boot.sh
    - run: cd ${{ github.workspace }} && sudo make test